proyectos_angular/marketclient/.angular/cache/21.1.4/marketclient/.tsbuildinfo
/proyectos_angular/marketclient/node_modules
/proyectos_angular/marketclient/node_modules
/proyectos_angular/marketclient/node_modules
/proyectos_angular/marketclient/node_modules
/proyectos_angular/marketclient/node_modules
